{% extends 'base.html.twig' %}

{% block title %}Hello NotificationController!{% endblock %}

{% block body %}
 



<h1>Notifications</h1>



{% for x in notifications %}
   

<div class="card">
    <div class="card-header">
        <div class="text-center">
        {{x.type}}{% if not x.readed %}
     {% endif %}
    </div> </div>
    <div class="card-body">
        <div class="text-center">{{x.description}} .</div>
        
    </div>

        <div class="m-2 text-center">{{x.createdat | date('j-M-Y')}}</div> 
 
</div>
{% endfor %}







{% endblock %}
