{% extends 'base.html.twig' %}

{% block title %}Abonnement index
{% endblock %}

{% block body %}
	<h1>Abonnement index</h1>

{% for x in abonnements %}
     {{x.id}}   <a href="{{x.id}}">Consulter </a>
	
{% endfor %}
	<a href="{{ path('app_abonnement_new') }}">Create new</a>
{% endblock %}
