{% extends 'base.html.twig' %}

{% block title %}Abonnement index
{% endblock %}

{% block body %}
	<h1>Abonnement index</h1>


	<a href="{{ path('app_abonnement_new') }}">Create new</a>
{% endblock %}
