{% extends 'xbase/base.html.twig' %}

{% block title %}Abonnement index
{% endblock %}

{% block body %}


	<div class="container-xxl py-5">
		<div class="container">
			<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
				<p class="d-inline-block border rounded-pill py-1 px-4">Abonnement</p>
				<h1>Choisissez votre abonnement
				</h1>
			</div>

			<div class="row g-4">
				{% for x in abonnements %}


					<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="service-item bg-light rounded h-100 p-5">
							<div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
								<i class="fa fa-award  text-primary fs-4"></i>
							</div>
							<h4 class="mb-3">{{x.nom}}</h4>
							<p class="mb-4">{{x.description}}</p>
							<a class="btn" href="{{x.id}}">
								<i class="fa fa-eye text-primary me-3"></i>Consulter
							</a>
						</div>
					</div>

				{% endfor %}
			</div>
		</div>
	</div>
	<!-- Service End -->


{% endblock %}
