{% extends 'base.html.twig' %}

{% block title %}Nouvel abonnement{% endblock %}

{% block body %}
    <h1>Ajouter un abonnement </h1>

    {{ include('abonnement/_form.html.twig') }}

 {% endblock %}
