{% extends 'base.html.twig' %}

{% block title %}Nouveau FichePatient{% endblock %}

{% block body %}
    <h1>Créer un nouveau FichePatient</h1>

    {{ include('fiche_patient/_form.html.twig') }}

    <a class="btn btn-outline-dark" href="{{ path('app_fiche_patient_index') }}">retour</a>
{% endblock %}
