{% extends 'base.html.twig' %}

{% block title %}New FichePatient{% endblock %}

{% block body %}
    <h1>Ajouter une fiche patient</h1>

    {{ include('fiche_patient/_form.html.twig') }}

 {% endblock %}
