{% extends 'base.html.twig' %}
 
{% block title %}Modifier utilisateur{% endblock %}

{% block body %}



<body style="margin: 20px auto;">
   

                    <table class="contant-table" style="margin-top: 40px;" align="center" border="0" cellpadding="0"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr style="display: block;">
                                <td style="display: block;">
                                    <h3 style="font-weight: 700; font-size: 20px; margin: 0;">Changer votre mot de passe</h3>
                                </td>
{{ form_start(resetForm , {'attr' : {'novalidate':'novalidate'}} ) }}
                                

                               
                            </tr>
                        </thead>
                    </table>

                    <table class="button-table" style="margin-top: 27px;" align="center" border="0" cellpadding="0"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr style="display: block;">
                                <td style="display: block;">     
                                   {{ form_row(resetForm.plainPassword) }}
                                </td>
                            </tr>
                            <tr style="display: block;">
                                <td style="display: block;">
                                    <button class="password-button btn btn-success">Confirmer</button>
                                </td>
                            </tr>
                        </thead>
                    </table>
                    {{ form_end(resetForm) }} 
                    
            
                </td>
            </tr>
        </tbody>
    </table>
</body>


<!-- Mirrored from themes.pixelstrap.com/fastkart/email-templete/reset-password.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 11 Feb 2023 16:10:55 GMT -->
</html>
 {% endblock %}