{% extends 'base.html.twig' %}

{% block title %}Modifier Comment{% endblock %}

{% block body %}
    <h1>Modifier Comment</h1>

    {{ include('comment/_form.html.twig', {'button_label': 'Update'}) }}

    

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
