{% extends 'base.html.twig' %}

{% block title %}Nouveau Comment{% endblock %}

{% block body %}
    <h1>Créer un nouveau Comment</h1>

    {{ include('comment/_form.html.twig') }}

    
{% endblock %}
