{% extends 'xbase/base.html.twig' %}

{% block title %}Modifier Profile{% endblock %}

{% block body %}
<style>
    /* Centrer le titre */
    h1 {
        text-align: center;
    }
</style>
    <h1>modifier Profile</h1>

        <div class="container">

    {{ include('profil/_form.html.twig', {'button_label': 'Modifier'}) }}
</div>
 
 {% endblock %}
