{% extends 'xbase/base.html.twig' %}

{% block title %}New Profil{% endblock %}

{% block body %}
<div class="container">
    <h1>Continuer mon Profile</h1>

    {{ include('profil/_form.html.twig') }}
</div>
 {% endblock %}
