<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Email Details</title>
</head>

<body>


	<p>Votre demande de compt a été accepté</p>
	<p>vous etes le bienvenue </p>
        
 <br> 

	Contact number : +216 22 222 222
	Email : Admin@admin.com

</body>

</html>