{% extends 'base.html.twig' %}

{% block title %}Edit LettreSuivies{% endblock %}

{% block body %}
    <h1>Edit LettreSuivies</h1>

    {{ include('lettre_suivies/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('lettre_suivies/_delete_form.html.twig') }}
{% endblock %}
