{% extends 'base.html.twig' %}

{% block title %}LettreSuivies index
{% endblock %}

{% block body %}
	<h1>LettreSuivies index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>

			</tr>
		</thead>
		<tbody>
			{% for lettre_suivy in lettre_suivies %}
				<tr>
					<td>{{ lettre_suivy.id }}</td>

					<td>
						<a class="btn btn-secondary" href="{{ path('app_lettre_suivies_show', {'id': lettre_suivy.id}) }}">Consulter</a>
						<a class="btn btn-warning" href="{{ path('app_lettre_suivies_edit', {'id': lettre_suivy.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a class="btn btn-primary" href="{{ path('app_lettre_suivies_new') }}">Ajouter</a>
{% endblock %}
