{% extends 'base.html.twig' %}

{% block title %}LettreSuivies index{% endblock %}

{% block body %}
<h1>Lettre Suivies </h1>


























<a href="{{ path('app_lettre_suivies_new') }}">Create new</a>
{% endblock %}