{% extends 'base.html.twig' %}

{% block title %}nouveau LettreSuivies{% endblock %}

{% block body %}
    <h1>Créer un nouveau LettreSuivies</h1>

    {{ include('lettre_suivies/_form.html.twig') }}

{% endblock %}
