{% extends 'base.html.twig' %}

{% block title %}Nouveau LettreSuivies{% endblock %}

{% block body %}
    <h1>Créer un nouveau LettreSuivies</h1>

    {{ include('lettre_suivies/_form.html.twig') }}

    <a href="{{ path('app_lettre_suivies_index') }}">retour à la liste</a>
{% endblock %}
