{% extends 'base.html.twig' %}

{% block title %}LettreSuivies
{% endblock %}

{% block body %}
	<h1>LettreSuivies</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ lettre_suivy.id }}</td>
			</tr>


		</tbody>
	</table>


	<a class="btn btn-warning" href="{{ path('app_lettre_suivies_edit', {'id': lettre_suivy.id}) }}">Modifier</a>

	{{ include('lettre_suivies/_delete_form.html.twig') }}
{% endblock %}
