{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block body %}
    <h1><b><i>Modifier utilisateur</i></b></h1><br>

    {{ include('user/_form.html.twig', {'button_label': 'sauvegarder'}) }}

   

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
