{% extends 'xbase/base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}

<style>

td{color: black;}
th{color: black;}


</style>



	<div class="container-xxl py-5">
	<div class="container">
		<div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
			<p class="d-inline-block border rounded-pill py-1 px-4">Profile</p>
			<h1>Mon Profile
			</h1>
		</div>

	<table class="table">
		<tbody>
			 <tr>
				<th>Nom</th>
				<td>{{ user.nom }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Roles</th>
 			<td>Orthophoniste</td>


			 
			</tr>
			<tr>
				<th>Statut de compte</th>
		{% if user.accepted == 1 %}
    <td   class="bg-success" >Accepté</td>
{% elseif user.accepted is null %}
    <td class=" bg-warning"  >En attente de l'acceptation de l'administrateur</td>
{% else %}
    <td class="bg-danger" >Refusé</td>
{% endif %}
 			
			</tr>
			 
			
		</tbody>
	</table>


	<a class="btn btn-secondary" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
 
{% endblock %}
